/*Your Code Here*/
/* PLEASE DO NOT REMOVE MY COMMENTS.  THEY HELP US HELP YOU DEBUG. */

/* Step 1: Write selector/rule property to add an underline when
links in the navigation are in the hover or focus state.*/
a:hover, a:focus {
     text-decoration: underline;
     border: 2px solid #000000;
}

/* Step 2a: Write selector/rule property to position the default position for the skip class element*/
.skip a {
     position: absolute;
     top: -40px;
}

/* Step 2b: Write selector/rule property to position the skip class element when it is in focus*/
/* Step 3: Write selector/rule property to style all elements when in focus*/
.skip a:focus {
     position: absolute;
     top: 20px;
}


/* Step 4: Write selector/rule property to style the container */
.container {
     display: grid;
     grid-template-columns: 1fr 5fr 1fr;
     gap: 15px;

}

/* Step 5: Write selector/rule property to add the background image to the 
first div in the grid  and place it in the grid. */
.container div:first-child {
     grid-column-start: 1;
     grid-column-end: -1; /* spans all columns */
     background-image: url("../images/header.jpg");
     background-position: center;
     background-size: cover;
     background-attachment: fixed; /* the parallex effect */
}


/* Steps 6 and 7: Write the selector/rule properties to add place the next elements in the next
 four rows in the grid. */
 .about, .method, .clients, .contact {
     grid-column-start: 2;
     grid-column-end: 3; /* (span 1) */
 }
       /*This will be a lot of rules.... but be strategic and combine seletors*/

 .about { 
     grid-row: 2; 
}

 .method { 
     grid-row: 3; 
}

 .clients { 
     grid-row: 4; 
}

 .contact { 
     grid-row: 5; 
}

.about-image, .method-image, .clients-image, .contact-image {
     grid-column-start: 1;
     grid-column-end: -1; /* spans all columns */
     max-height: 600px;
     overflow: hidden;

}
.about-image { 
     grid-row: 2; 
}

 .method-image { 
     grid-row: 3; 
}

 .clients-image { 
     grid-row: 4; 
}

 .contact-image { 
     grid-row: 5; 
}


 /* Step 8: Write the selector/rule property to style the .text-block class. */

 .text-block {
     text-align: center;
     /* the parent container must be a grid container for these to work*/
     align-self: center;           /* Centers horizontally within its grid cell */
     justify-self: center;         /* Centers vertically within its grid cell*/
}



/* Add your media query here */

@media screen and (min-width: 800px){

  /* Step 9: Write the selector/rule property to style the nav element */
     nav {
          text-align: right;
          padding-left: 0px; 
          padding-right: 0px;
          padding-top: 30px;
          padding-bottom: 30px;
     }
 
  /* Step 10: Write the selector/rule property to update the .container class */
     .container {
          grid-template-columns: 50px auto 500px auto 50px; 
     }

  /* Steps 11 and 12: Update the grid-column property of the grid's children (where-needed)*/

     .about, .clients, .method-image, .contact-image {
          grid-column-start: 3;
          grid-column-end: 5; /* Columns 3 to 4 (span 2) */
     }

     .method, .contact, .about-image, .clients-image {
          grid-column-start: 2;
          grid-column-end: 4; /* Columns 2 to 3 (span 2) */
     }

     .text-block{
          max-height: 250px;
          overflow: visible; /* any content outside grid cell is still reachable */
     }

 /* Step 13:Write the selector/rule property to update the .text-block class */



}